@tailwind base;
@tailwind components;
@tailwind utilities;

.text-pink {
  color: #FA9D83;
}
.text-orange {
  color: #D35300;
}
.bg-orange {
  background-color: #D35300;
}
.border-orange {
  border-color: rgb(211, 83, 0);
}

.nav-overlay {
  background-color:  rgba(0, 0, 0, 0.259);
}
.hero-overlay {
  background-color: rgb(25, 27, 24,60%);
}
